@font-face { 
    font-family: "Death Mohawk";
    src: url('DEATHMOHAWK.OTF');
} 

body {
    background: #303e44;
    animation: colorchange 10s infinite;
    text-align: center;
    cursor: url('mainCursor.png'), auto;
    overflow: hidden;
}

#main {
    /* Flexbox centering */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    min-height: 100vh;
    margin: 0;
}

pre {
    color: #ffffff;
    font-family: monospace;
    font-size: min(0.9vw, 0.6rem);
    text-shadow: 1.5px 1.5px #636363;
}

h1 {
    font-family: "Death Mohawk", serif;
    color: #fff;
    font-size: 20rem;
    font-weight: 400;
    margin: 0;
}  

h2 {
    font-family: "Courier New", serif; 
    color: #fff;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: min(0.98vw, 1rem);
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #F5A9B8;
    cursor: url('clickCursor.png'), auto;
}

/* Background Color Cycling */
@keyframes colorchange {
    0%   {background: #303e44;}
    16.6%  {background: #2f3144;}
    33.2%  {background: #392f44;}
    49.8%  {background: #442f42;}
    66.4%  {background: #2f443c;}
    83%  {background: #293837;}
    100% {background: #303e44;}
}

@-webkit-keyframes colorchange {
    0%   {background: #303e44;}
    16.6%  {background: #2f3144;}
    33.2%  {background: #392f44;}
    49.8%  {background: #442f42;}
    66.4%  {background: #2f443c;}
    83%  {background: #293837;}
    100% {background: #303e44;}
}